@{
    ViewBag.Title = "";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p>     
                <a href="http://www.paperseed.in" title="Paperseed portal">http://www.paperseed.in</a>.
         
            </p>
        </div>
    </section>
}
<h3>We are building some awsome things:</h3>
<ol class="round">
    <li class="one">
        <h5>Single page applications</h5>
        We can build wonderfull single page applications with  esthetic and intutive UI design.
        <a href="">Learn more…</a>
    </li>

    <li class="two">
        <h5>Business websites</h5>
        We build high quality websites that exactly suits your business needs. We will 
        take care of end to end process from requirements identification to hosting your website live in the internet.
        <a href="">Learn more…</a>
    </li>

    <li class="three">
        <h5>Web Hosting support</h5>
        We can easily find a web hosting company that offers the right mix of features
        and price for your applications.
        <a href=http://go.microsoft.com/fwlink/?LinkId=245157">Learn more…</a>
    </li>
</ol>
